body {
  background-image: url("images/laptop3.jpg");
  background-size: cover;
  height: max-content;
  margin: 0px;
  font-family: "Kaisei HarunoUmi", serif;
}

.parda {
  background: rgba(35, 24, 48, 0.2);
  padding-bottom: 50px;
}

#navbar {
  background-color: rgb(23, 13, 36);
  color: white;
  border-bottom: cyan solid 5px;
  height: auto;
  display: inline-block;
  width: 100vw;
  font-size: 18px;
}

#brand {
  float: left;
}

#brandli {
  display: inline-block;
  padding: 5px 0px;
  border-bottom: cyan solid 2px;
  color: rgb(60, 255, 60);
}
#brandli:hover {
  border-bottom: rgb(192, 255, 65) solid 2px;
  color: rgb(94, 255, 234);
  font-size: 100%;
}

ul {
  list-style: none;
  float: right;
  padding-right: 30px;
}
li {
  display: inline-block;
  padding: 5px 15px;
}

#main {
  color: rgb(255, 255, 255);
  background: rgba(23, 13, 36, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 40px 30px;
  width: 60%;
}

h3 {
  color: gold;
  width: 90%;

  border-bottom: cyan solid 1px;
}

p {
  width: 90%;
}

button {
  padding: 5px 15px;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(79, 25, 124);
  color: white;
  border: white solid 1px;
  margin-top: 20px;

  font-family: "Kaisei HarunoUmi", serif;
}
button:hover {
  background-color: rgb(64, 143, 0);
}

#murojaatnoma {
  width: 100%;
}

footer {
  border-top: cyan solid 2px;
  text-align: left;
  background-color: rgb(44, 32, 63);
  color: white;
  padding: 10px;
  width: 100%;
  height: 30px; /* Height of the footer */
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(187, 252, 58);
  border-bottom: yellowgreen solid 2px;
}

#biz {
  background-image: url("images/laptop.jpg");
  background-size: cover;
  height: max-content;
  margin: 0px;
  font-family: "Kaisei HarunoUmi", serif;
}

#xizmatlar {
  background-image: url("images/business.jpg");
  background-size: cover;
  height: max-content;
  margin: 0px;
  font-family: "Kaisei HarunoUmi", serif;
}

#yangiliklar {
  background-image: url("images/news.jpg");
  background-size: cover;
  height: max-content;
  margin: 0px;
  font-family: "Kaisei HarunoUmi", serif;
}

#maqolalar {
  background-image: url("images/typewriter.jpg");
  background-size: cover;
  height: max-content;
  margin: 0px;
  font-family: "Kaisei HarunoUmi", serif;
}

#aloqa {
  background-image: url("images/telephone.jpg");
  background-size: cover;
  height: max-content;
  margin: 0px;
  font-family: "Kaisei HarunoUmi", serif;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}
